.sidebar-footer {
  position: absolute;
  bottom: 76px;
  left: 28px;
  display: flex;
  gap: 12px;

  &__image {
    background-image: url('../../assets/man.png');
    height: 42px;
    width: 42px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 21px;
  }

  &__rank {
    color: #757575;letter-spacing: 0.01em;
    font-size: 12px;
    line-height: 18px;
  }
}