@import "../../utils/mixins";
@import "../../utils/reset";

.form {
  margin: 0 auto;
  
  @include onTablet {
    width: 60%;
  }

  &__button {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: 0.1s linear;
    margin-bottom: 10px;
    background-color: #fff;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 1);
    }

    &--submit {
      height: 40px;
      margin: 20px 0 10px 0;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &__button-title {
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgba(0, 0, 0, 0.5);
    height: 54px;
    font-size: 14px;
    outline: none;
    border: none;
    transition: 0.1s linear;

    &:hover {
      font-weight: 600;
    }

    &:focus {
      color: #313237;
      font-weight: 600;
    }
  }

  &__form {
    padding: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 1);
    }
  }

  &__field {
    position: relative;
  }

  &__inp {
    height: 40px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
    padding-left: 10px;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 1);
    }
  }

  &__error {
    position: absolute;
    right: 10px;
    top: -6px;
    color: tomato;
    font-size: 12px;
    background-color: #fff;
    padding: 0 10px;
    animation-duration: .3s;
    animation-name: fadeIn;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}