@import "../../utils/mixins.scss";
@import "../../utils/variables.scss";

.mainblock {
  background-color: #fff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  height: 100%;
  padding: 30px 44px 41px 38px;

  &__upper-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__info-box {
    display: flex;
    flex-direction: column;
  }

  &__title {
    letter-spacing: -0.01em;
    font-weight: 600;
    font-size: 14px;
    line-height: 33px;
    margin-bottom: 7px;

    @include onTabletLarge {
      font-size: 22px;
    }
  }
}