@import "../../utils/mixins.scss";
@import "../../utils/variables.scss";

.wrapper {
  display: flex;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;

  @include onTablet {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  
  @include onDesktopSmall {
    grid-template-columns: 1fr 4fr;
  }

  @include onDesktop {
    grid-template-columns: 1fr 5fr;
  }
}